apt_early_warning/n8n/BTLPY_APT_ML_First.workflow.json
{
  "updatedAt": "2026-03-28T10:58:36.423Z",
  "createdAt": "2026-03-19T10:25:16.152Z",
  "id": "cSd27mjpOsnMTtYx",
  "name": "BTLPY_APT_ML_First",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "apt-ingest-ml",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a40fe6c8-6f8e-4f18-81d6-2c68f755f201",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        416
      ],
      "webhookId": "1d5f2b79-4169-47b6-ab42-6c2cbb63008e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/score",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{JSON.stringify($json.body)}}",
        "options": {}
      },
      "id": "9b51efb0-0192-40f2-b863-9d2de11d180a",
      "name": "HTTP Request /score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a3768b02-c6ac-4c18-a1b4-e11433f2ca54",
              "leftValue": "={{$json.decision}}",
              "rightValue": "ALERT",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1cb21213-417c-4cf8-9354-663292fcca03",
      "name": "If ALERT?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        416
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Bạn là SOC analyst. Viết cảnh báo Telegram ngắn gọn bằng tiếng Việt từ JSON sau.\\n- Nêu: label/stage, confidence, severity, src/dst và 3 hành động đề xuất.\\nChỉ trả về JSON hợp lệ, không kèm chữ khác. Trả về đúng dạng:\\n{\\n  \\\"title\\\": \\\"...\\\",\\n  \\\"message\\\": \\\"...\\\",\\n  \\\"actions\\\": [\\\"...\\\", \\\"...\\\", \\\"...\\\"]\\n}\\n\\nJSON đầu vào:\\n{{ JSON.stringify($node[\"HTTP Request /score\"].json, null, 2) }}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "id": "ea93df6d-59e8-4ce8-b30f-e1926278757f",
      "name": "Message a model",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        672,
        416
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "YSJ4llq850jdPUVX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $input.item.json;\nconst text = data?.content?.parts?.[0]?.text ?? data?.text ?? '';\nlet parsed;\ntry {\n  parsed = JSON.parse(text);\n} catch (e) {\n  parsed = {\n    title: 'UNPARSED_GEMINI_OUTPUT',\n    message: text || JSON.stringify(data),\n    actions: [],\n  };\n}\nreturn { json: parsed };"
      },
      "id": "f4c93394-5908-49ad-9d78-11f96b3f5a1a",
      "name": "Parse Gemini JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -352
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const scoreFromNode = $node[\"HTTP Request /score\"]?.json ?? {};\n  const scoreFromInput = ($json?.score && typeof $json.score === \"object\") ? $json.score : {};\n  const score = Object.keys(scoreFromInput).length ? scoreFromInput : scoreFromNode;\n\n  const llm = ($json && typeof $json === \"object\") ? $json : {};\n\n  const label = String(score.stage ?? score.label ?? \"Unknown\");\n  const confidenceNum = Number(score.confidence ?? 0);\n  const confidence = Number.isFinite(confidenceNum) ? confidenceNum : 0;\n  const severity = String(score.severity ?? \"LOW\");\n\n  return {\n    json: {\n      ok: true,\n      workflow: \"BTLPY_APT_ML_First\",\n      decision: String(score.decision ?? \"ALERT\"),\n      severity,\n      label,\n      confidence,\n      proba: score.proba ?? {},\n      flow_meta: score.flow_meta ?? null,\n      score,\n      llm,\n      summary: `[APT ALERT] label=${label} confidence=${confidence.toFixed(4)} severity=${severity}`,\n      suggested_actions: Array.isArray(llm.actions) ? llm.actions : [],\n      ts: new Date().toISOString()\n    }\n  };"
      },
      "id": "10a74949-e548-4f63-b6ef-a466fd10379f",
      "name": "Build ALERT Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -352
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const score = $json;\nreturn {\n  json: {\n    ok: true,\n    workflow: 'BTLPY_APT_ML_First',\n    decision: score.decision,\n    severity: score.severity,\n    label: score.stage,\n    confidence: score.confidence,\n    proba: score.proba ?? {},\n    flow_meta: score.flow_meta ?? null,\n    summary: `[NO ALERT] label=${score.stage} confidence=${Number(score.confidence).toFixed(4)}`,\n    suggested_actions: [\n      'Tiếp tục giám sát lưu lượng liên quan',\n      'Lưu event vào kho log để phục vụ correlation',\n      'Đánh giá lại threshold nếu có nhiều false-positive/false-negative'\n    ],\n    ts: new Date().toISOString()\n  }\n};"
      },
      "id": "17c761fd-cac5-43ee-a535-a77eb26f1664",
      "name": "Build NO_ALERT Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "69867cd0-4b70-4565-9aca-00a1a56cce2f",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        448,
        -160
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = String($env.TELEGRAM_CHAT_IDS ?? $env.TELEGRAM_CHAT_ID ?? '').trim();\nconst chatIds = raw.split(/[\\s,]+/).map((s) => s.trim()).filter(Boolean);\nconst llm = $json.llm ?? {};\nconst title = llm.title ?? 'APT ALERT';\nconst message = llm.message ?? $json.summary;\nconst actions = Array.isArray(llm.actions) ? llm.actions : [];\nconst text = title + '\\n\\n' + message + '\\n\\nHành động đề xuất:\\n- ' + (actions.length ? actions.join('\\n- ') : '(không có)');\nif (!chatIds.length) {\n  return [];\n}\nreturn chatIds.map((chatId) => ({ json: { chatId, text } }));"
      },
      "id": "25ec7f3f-4a73-4c78-b421-9f9e7a7d69ff",
      "name": "Fan-out Telegram Chats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -400
      ],
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "5842496719",
        "text": "={{$json.title + \"\\n\\n\" + $json.message + \"\\n\\nHành động đề xuất:\\n- \" + (($json.actions || []).join(\"\\n- \"))}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1248,
        512
      ],
      "id": "ae61a677-8aac-46ea-b599-bc02ae9a4188",
      "name": "Send a text message",
      "webhookId": "6f70e98e-a693-49c7-816d-ea6843666f3e",
      "credentials": {
        "telegramApi": {
          "id": "FxfDktUGO7Lw9RtL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $input.item.json;\n\n// Gemini node often returns the model output as a JSON string in:\n//   data.content.parts[0].text\nconst text = data?.content?.parts?.[0]?.text ?? data?.text ?? '';\n\nlet parsed;\ntry {\n  parsed = JSON.parse(text);\n} catch (e) {\n  parsed = {\n    title: 'UNPARSED_GEMINI_OUTPUT',\n    message: text || JSON.stringify(data),\n    actions: [],\n  };\n}\n\nreturn { json: parsed };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        416
      ],
      "id": "c5e575e0-276a-4486-a4e7-70a71b0b2931",
      "name": "Parse Gemini JSON1"
    },
    {
      "parameters": {
        "chatId": "8445955117",
        "text": "={{$json.title + \"\\n\\n\" + $json.message + \"\\n\\nHành động đề xuất:\\n- \" + (($json.actions || []).join(\"\\n- \"))}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1248,
        320
      ],
      "id": "8c438833-ebbe-446a-b7eb-7bfc695ad593",
      "name": "Send a text message1",
      "webhookId": "1bf6d373-a4f8-4c64-a9e2-8d20b2742f77",
      "credentials": {
        "telegramApi": {
          "id": "VhM6lTEnwTDdUemK",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=8445955117",
        "text": "=ALERT!!",
        "additionalFields": {}
      },
      "id": "a6ebd7d8-5408-41d2-a37e-b1f889cb0f9a",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        0,
        112
      ],
      "webhookId": "1739c960-24cf-4a03-a5d4-d31b2b0caaf8",
      "credentials": {
        "telegramApi": {
          "id": "VhM6lTEnwTDdUemK",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request /score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request /score": {
      "main": [
        [
          {
            "node": "If ALERT?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If ALERT?": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse Gemini JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini JSON": {
      "main": [
        [
          {
            "node": "Build ALERT Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build NO_ALERT Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build ALERT Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fan-out Telegram Chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fan-out Telegram Chats": {
      "main": [
        []
      ]
    },
    "Parse Gemini JSON1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3da30ed8-c737-4ae6-9e5b-bd477bc76fcc",
  "activeVersionId": null,
  "versionCounter": 22,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-19T10:25:16.157Z",
      "createdAt": "2026-03-19T10:25:16.157Z",
      "role": "workflow:owner",
      "workflowId": "cSd27mjpOsnMTtYx",
      "projectId": "fUACiaFKCcwGNy9e",
      "project": {
        "updatedAt": "2026-02-22T10:15:47.644Z",
        "createdAt": "2026-01-20T07:14:41.011Z",
        "id": "fUACiaFKCcwGNy9e",
        "name": "B23DCAT216 Ngọc <hieuhuu113@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "69c54faa-347c-438b-a8df-ec0d86ac0345"
      }
    }
  ],
  "_id": "cSd27mjpOsnMTtYx"
}
